* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #fafafa;
}

#dino-game {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./img/background.png');
  background-repeat: repeat-x;
  animation: slideright 600s infinite linear;
  -webkit-animation: slideright 600s infinite linear;
}

@keyframes slideright {
  from {
      background-position: 70000%;
  }
  to {
      background-position: 0%;
  }
}

#dino, 
.cactus {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 521px;
}

#dino {
  background-image: url('./img/dino.png');
}

.cactus {
  background-image: url('./img/cactus.png');
}

#game-over {
  text-align: center;
  color: red;
  margin: 50px 0;
  font-family: arial;
}
